.passwordChecker {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    .optionContainer {
        padding: 3px;
        .optionLabel {
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;

            justify-content: flex-start;
            align-items: center;

            .optionCheckbox {
                background:  url("../icons/BlueNotChecked.png") top left no-repeat;
                background-size: 20px;
                width: 20px;
                height: 20px;
                margin-right: 3px;
                padding-top: 3px;
            }
            .optionCheckbox.active{
                background:  url("../icons/BlueChecked.png") top left no-repeat;
                background-size: 20px;
            }
        }
    }
}

