$dark-blue: #198a9b;
$medium-blue: #1ca1b4;
$bright-blue: #3ec4dd;
$accent-yellow: #e6e922;
$dark: #191919;
$gray: #585858;
$gray-disabled: rgba(88,88,88,0.6);
$silver: #f6f6f6;
$white: #ffffff;
$border: #e4e4e4;
$border-disabled: rgba(228,228,228,0.6);
$border-success: #a4bb55;
$border-error: #bc3e53;
$input-onfocus: #eff2f8;
$alert-text-color: #721c24;
$alert-background-color: #f8d7da;
$alert-border-color: #f5c6cb;
$alert-done-background-color: #dff0d8;
$alert-done-border-color: #d0e9c6;
$alert-done-color: #3c763d;