@font-face {
  font-family: Roboto Regular;
  src: url(./fonts/RobotoRegular.ttf) format('opentype');
}

@font-face {
  font-family: Rubik;
  src: url(./fonts/Rubik-Regular.ttf) format('opentype');
}

@font-face {
  font-family: FA;
  src: url(./fonts/fa-regular-400.ttf) format('opentype');
}

@font-face {
  font-family: FA-SOLID;
  src: url(./fonts/fa-solid-900.ttf) format('opentype');
}